<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
     <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}>
  </head>
  <body style="background-image: url({{ url_for('static', filename='img/lightedroad.jpg') }});">
    <header>
      <nav>
        <a href="#">Home</a>
        <a href="#">Testimonials</a>
        <input type="text" name="search" placeholder="Find now">
        <a href="#">Buy-A-Cat</a>
        <a href="#">Login</a>
      </nav>
      <figure class="logo">
        <img src={{ url_for('static', filename='img/cat_black.svg') }} />
        <h1>CATS R US, INC.</h1>
      </figure>
    </header>
    <main>
      {% block articles %} {% endblock %}
    </main>
  </body>
  <footer>
    <h4>&copy; Ryan Stonebraker, 2018</h4>
  </footer>
</html>
