<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
     <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}>
     <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
     <script src={{ url_for('static', filename='js/fix-search.js') }}></script>
  </head>
  <body style="background-image: url({{ url_for('static', filename='img/lightedroad.jpg') }});">
    <header>
      <nav>
        <li><a href="#">Home</a></li>
        <li><a href="#">Testimonials</a></li>
        <form action="/search">
          <li class="top-search-bar"><input type="text" name="catName" placeholder="Find now"></li>
        </form>
        <li><a href="#">Buy-A-Cat</a></li>
        <li><a href="#">Login</a></li>
      </nav>
      <figure class="logo">
        <img src={{ url_for('static', filename='img/cat_black.svg') }} />
        <h1>CATS R US, INC.</h1>
        <form action="/search">
          <input type="text" name="catName" placeholder="Find now">
        </form>
      </figure>
    </header>
    <main>
      {% block articles %} {% endblock %}
    </main>
  </body>
  <footer>
    <h4>&copy; Ryan Stonebraker, 2018</h4>
  </footer>
</html>
