html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

header {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

header nav {
  display: flex;
  width: 100%;
  padding: 15px 0;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  transition: background-color 1s ease;
}

header nav.fixed-bg {
  background-color: rgba(0,0,0,0.5);
  transition: background-color 1s ease;
}

header nav li {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav li a {
  text-decoration: none;
  color: whitesmoke;
  transition: all 0.5s ease;
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
}

header nav li a:hover {
  transition: all 0.5s ease;
  background-color: rgba(228,228,228, 0.75);
  color: black;
}

header nav li.top-search-bar input {
  visibility: hidden;
}

header figure.logo {
  margin: auto 0;
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
  flex-direction: column;
}

header figure.logo img {
  max-width: 200px;
}

header input[name="search"] {
  width: 250px;
  font-size: 25px;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
  text-align: center;
  align-items: center;
  transition: width 0.5s ease;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(228,228,228, 0.75);
  color: black;
}

header input[name="search"]::placeholder {
  color: rgba(0,0,0,.75);
}

header input[name="search"]:focus {
  width: 500px;
  transition: width 0.5s ease;
}

main {
  margin: 10%;
  color: whitesmoke;
  border-radius: 15px;
}

main article {
  display: flex;
  flex-direction: row;
  padding: 25px;
  margin: 25px 0;
  border-radius: 15px;
  backdrop-filter: blur(5px) contrast(0.75);
  /* background-color: rgba(255,255,255,0.25); */
}

main article figure {
  margin: 0;
}

main article section.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 25px;
}

main article section.info h1 {
  margin-bottom: 5px;
}

main article section.info h4 {
  margin-top: 0;
  margin-left: 15px;
}

footer {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.25);
}
