header {
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

header nav {
  display: flex;
  width: 100%;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
}

header nav a {
  flex: 1;
  text-align: center;
}

header nav input[name="search"] {
  width: 250px;
  font-size: 25px;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
  text-align: center;
  align-items: center;
  transition: all 0.5s ease;
}

header nav input[name="search"]:focus {
  width: 500px;
  transition: all 0.5s ease;
}

header figure.logo {
  margin: auto 0;
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
  flex-direction: column;
}

figure.logo img {
  max-width: 200px;
}
